@model Homework_I.Models.ViewModels.LogonViewModel

@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $.validator.addMethod("nois", function (value, element, param) {
        if (value == false) {
            return true;
        }
        var validateState = true;
        var paramarr = param.split(',');
        $.each(paramarr, function (i, n) {
            //if (value == n) {
            if (value.indexOf(n) != -1) {
                validateState = false;
                return;
            }
        });
        return validateState;
    });
    $.validator.unobtrusive.adapters.addSingleVal("nois", "input");
</script>
@if (Model != null && !string.IsNullOrWhiteSpace(Model.Message))
{
    <script type="text/javascript">
        (function () {
            toastr.options = {
                positionClass: 'toast-bottom-right',
            }
            toastr.warning('@Model.Message');
        })();
    </script>
}

}
